.welcome {
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.mugshot {
    position: relative;
    left: 100px:
}

.card {
    padding: 20px;
    margin: 0 auto;
}

.aboutme {
    position: relative;
    right: 50px;
    padding: 20px;

}


